* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #081b31;
  color: #fff;
  text-align: center;
  height: 5rem;
  line-height: 5rem;
}

.choice {
  height: 165px;
  width: 165px;
}

.choice:hover {
  opacity: 50%;
  cursor: pointer;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin-top: 3rem;
  font-size: 2rem;
}

#user-score,
#comp-score {
  color: #081b31;
  font-size: 3.5rem;
}

#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
  gap: 1rem;
  border-radius: 10px;
}

.msg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.msg-container {
  transition: background-color 0.3s ease;
}
